@import "tailwindcss";
@tailwind utilities;

@theme {
  --color-background: #d6bfa2;
  --color-primary: #d6bfa2;
  --color-secondary: #9b948c;
  --color-accent: #c9a06f;
  --color-light: #fafafa;
  --color-dark: #1a1a1a;
}

body {
  background-color: var(--color-background);
}
